#!/bin/bash
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME="BAF"
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)

bash [% opt.CLUSTER_PATH %]/settings.sh
cd [% tmp_dir %]

[% IF run_unified_genotyper == 1 %]
echo "Start Unified Genotyper	" `date` "	" `uname -n` >> [% log_dir %]/BAF_[% sample %].log

if [ -s [% sample_bam %] ]; then
	[% INCLUDE Status.tt step="UNIFIED_GENOTYPER" status="processing" %]
  
	java -Djava.io.tmpdir=[% opt.OUTPUT_DIR %]/tmp/ -Xmx[% opt.BAF_MEM %]G -jar [% opt.QUEUE_PATH %]/GenomeAnalysisTK.jar \
		-T UnifiedGenotyper -R [% opt.GENOME %] -L [% opt.BAF_SNPS %] -I [% sample_bam %] -o [% output_vcf %] --output_mode EMIT_ALL_SITES
else
	echo "ERROR: Sample BAM file does not exist." >&2
fi
                
if [ "$(tail -n 1 [% output_vcf %] | cut -f 1,2)" = "$(tail -n 1 [% opt.BAF_SNPS %]| cut -f 1,3)" ]; then
	mv [% output_vcf %] [% output_dir %]
	mv [% output_vcf %].idx [% output_dir %]
	touch [% log_dir %]/BAF_UG_[% sample %].done
  
	[% INCLUDE Status.tt step="UNIFIED_GENOTYPER" status="finished" %]
else
	[% INCLUDE Status.tt step="UNIFIED_GENOTYPER" status="failed" %]
fi
echo "Finished Unified Genotyper	" `date` "	" `uname -n` >> [% log_dir %]/BAF_[% sample %].log
[% END %]

[% IF create_baf_file == 1 %]
echo "Start Make BAF file	" `date` "	" `uname -n` >> [% log_dir %]/BAF_[% sample %].log

if [ -s [% output_dir %]/[% output_vcf %] -a -e [% log_dir %]/BAF_UG_[% sample %].done ]; then
	[% INCLUDE Status.tt step="BAF_FILE" status="processing" %]
  
	cat [% output_dir %]/[% output_vcf %] | [% opt.BIOVCF_PATH %]/bio-vcf --num-threads [% opt.BAF_THREADS %] -i \
		--sfilter '!s.empty? and s.dp>=20' --eval '[r.chrom,r.pos,r.ref+">"+r.alt[0]]'  \
		--seval 'tot=s.ad.reduce(:+) ; ((tot-s.ad[0].to_f)/tot).round(2)' > [% output_baf %]

    mv [% output_baf %] [% output_dir %]
  	touch [% log_dir %]/BAF_FILE_[% sample %].done
  	echo "Finished Make BAF file    " `date` "   " `uname -n` >> [% log_dir %]/BAF_[% sample %].log

	[% INCLUDE Status.tt step="BAF_FILE" status="finished" %]
else
	echo "ERROR: Sample BAF VCF and UG done files do not exist." >&2
  
	[% INCLUDE Status.tt step="BAF_FILE" status="failed" %]
fi
[% END %]

[% IF create_baf_plots == 1 %]
echo "Start BAF plotting	" `date` "	" `uname -n` >> [% log_dir %]/BAF_[% sample %].log
if [ -s [% output_dir %]/[% output_baf %] -a -e [% log_dir %]/BAF_FILE_[% sample %].done ]; then
	[% INCLUDE Status.tt step="BAF_PLOTS" status="processing" %]
  
	Rscript [% opt.PIPELINE_PATH %]/scripts/makeBAFplot.R [% tmp_dir %] [% output_dir %]/[% output_baf %]
else
	echo "ERROR: Sample BAF file and BAF done files do not exist." >&2
fi

if [ -s [% output_bafplot %] ]; then
	mv [% output_bafplot %] [% output_dir %]
	touch [% log_dir %]/BAF_PLOT_[% sample %].done
  
	[% INCLUDE Status.tt step="BAF_PLOTS" status="finished" %]
else
	[% INCLUDE Status.tt step="BAF_PLOTS" status="failed" %]
fi
echo "Finished Make BAF plot	" `date` "	" `uname -n` >> [% log_dir %]/BAF_[% sample %].log
[% END %]

if [ -e [% log_dir %]/BAF_UG_[% sample %].done -a -e [% log_dir %]/BAF_FILE_[% sample %].done -a -e [% log_dir %]/BAF_PLOT_[% sample %].done ]; then
	touch [% log_dir %]/BAF_[% sample %].done
  
	[% INCLUDE Status.tt step="" status="success" %]
else
	[% INCLUDE Status.tt step="" status="failed" %]
fi
