#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="BamFlagstat" main_step=flagstat_name log_name="${step}.log" %]

assert_not_empty "[% bam_path %]"

[% opt.SAMBAMBA_PATH %]/sambamba flagstat -t [% opt.FLAGSTAT_THREADS %] "[% bam_path %]" > "[% flagstat_path %]"

assert_not_empty "[% flagstat_path %]"
success