#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="BamSlice" main_step=slice_name log_name="${step}.log" %]

assert_not_empty "[% input_bam %]"

[% opt.SAMBAMBA_PATH %]/sambamba view [% input_bam %] -L [% bed_file %] -f bam -o [% sliced_bam %]

assert_not_empty "[% sliced_bam %]"

[% opt.SAMBAMBA_PATH %]/sambamba index "[% sliced_bam %]"

assert_not_empty "[% sliced_bam %].bai"
success
