#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="BaseRecalibration" main_step=sample_bam log_name="${sample}.log" %]

cd "[% dirs.tmp %]"

assert_not_empty "[% sample_bam_path %]"

java -Xmx[% opt.BASERECALIBRATION_MASTER_MEM %]G \
     -Djava.io.tmpdir="[% dirs.tmp %]" \
     -jar "[% opt.QUEUE_LOW_GZIP_COMPRESSION_PATH %]/Queue.jar" \
     -jobQueue [% opt.BASERECALIBRATION_QUEUE %] \
     -jobNative "[% job_native %]" \
     -jobRunner GridEngine \
     -jobReport "[% dirs.log %]/BaseRecalibration.jobReport.txt" \
     -S "[% opt.OUTPUT_DIR %]/QScripts/[% opt.BASERECALIBRATION_SCALA %]" \
     -R "[% opt.GENOME %]" \
     -I "[% sample_bam_path %]" \
     -mem [% opt.BASERECALIBRATION_MEM %] \
     -nct [% opt.BASERECALIBRATION_THREADS %] \
     -nsc [% opt.BASERECALIBRATION_SCATTER %] \
     [% known_files %] \
     -run

# do not touch done file; this job shares name/step with the master done file. it is touched by markDone.
success_no_done
