mv [% dirs.tmp %]/*_baseRecalibration.pdf [% dirs.log %]
        mv [% dirs.tmp %]/*_post_recal_data.table [% dirs.log %]
        mv [% dirs.tmp %]/*_recal_data.table [% dirs.log %]
        touch [% dirs.log %]/BaseRecalibration_[% sample %].done
