#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="CallableLoci" main_step=sample log_name="CallableLoci_${sample}.log" %]

cd "[% dirs.tmp %]"

assert_not_empty "[% sample_bam %]"

java -Xmx[% opt.CALLABLE_LOCI_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar "[% opt.QUEUE_PATH %]/GenomeAnalysisTK.jar" \
    -T CallableLoci \
    -R "[% opt.GENOME %]" \
    -I "[% sample_bam %]" \
    -o "[% output_bed %]" \
    -summary "[% output_summary %]" \
    --minBaseQuality [% opt.CALLABLE_LOCI_BASEQUALITY %] \
    --minMappingQuality [% opt.CALLABLE_LOCI_MAPQUALITY %] \
    --minDepth [% opt.CALLABLE_LOCI_DEPTH %] \
    --minDepthForLowMAPQ [% opt.CALLABLE_LOCI_DEPTHLOWMAPQ %] \
    [%- IF opt.exists('CALLING_TARGETS') %]
    -L "[% opt.CALLING_TARGETS %]" \
    [%- END %]
    [%- IF opt.exists('CALLING_INTERVALPADDING') %]
    -ip [% opt.CALLING_INTERVALPADDING %] \
    [%- END %]
    ;

assert_not_empty "[% output_bed %]" "[% output_summary %]"
mv "[% output_bed %]" "[% dirs.out %]"
mv "[% output_summary %]" "[% dirs.out %]"
success