#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Cobalt" main_step=sample log_name="Cobalt_${sample}.log" %]

/usr/java/latest/bin/java -Xmx[% opt.COBALT_MEM %]G \
    -cp "[% opt.COBALT_PATH %]/cobalt.jar" com.hartwig.hmftools.cobalt.CountBamLinesApplication \
    -input [% sample_bam %] \
    -output [% dirs.cobalt %]/[% sample %].cobalt.count \
    -threads [% opt.COBALT_THREADS %]


success