#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="ConcatVcf" main_step=step log_name="${step}.log" %]

assert_not_empty "[% vcf_files.join('" "') %]"

[% opt.VCFTOOLS_PATH %]/vcf-concat "[% vcf_files.join('" "') %]" > "[% output_vcf %]"

success
