#!/usr/bin/env bash
# -*- TT -*-

export PATH=[% opt.SAMTOOLS_PATH %]:${PATH}
export PATH=[% opt.SAMBAMBA_PATH %]:${PATH}

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="DamageEstimate" main_step=step_name log_name="DamageEstimate.log" %]

assert_not_empty "[% damage_estimate_bam_path %]"

sampleName="[% sample %]"
inputBAMPath=$(dirname "[% damage_estimate_bam_path %]")
mpileupPath1="${inputBAMPath}/${sampleName}_1.pileup"
mpileupPath2="${inputBAMPath}/${sampleName}_2.pileup"
outputDir="[% damage_estimate_out_path %]"

[% opt.DAMAGE_ESTIMATOR_PATH %]/split_mapped_reads.pl \
    --bam "[% damage_estimate_bam_path %]" \
    --genome "[% opt.REF_GENOME %]" \
    --mpileup1 "${mpileupPath1}" \
    --mpileup2 "${mpileupPath2}" \
    --sample "[% opt.DAMAGE_ESTIMATE_DOWNSAMPLE_BAM_SIZE %]"

[% opt.DAMAGE_ESTIMATOR_PATH %]/estimate_damage.pl \
    --mpileup1 "${mpileupPath1}" \
    --mpileup2 "${mpileupPath2}" \
    --id "${sampleName}" > "${outputDir}/${sampleName}_damageEstimate"

[% opt.DAMAGE_ESTIMATOR_PATH %]/estimate_damage_location.pl \
    --mpileup1 "${mpileupPath1}" \
    --mpileup2 "${mpileupPath2}" \
    --id "${sampleName}" \
    --out "${outputDir}/${sampleName}_damageEstimateByPosition" \
    --max_coverage_limit "[% opt.DAMAGE_ESTIMATE_MAX_COVERAGE_LIMIT %]" \
    --min_coverage_limit "[% opt.DAMAGE_ESTIMATE_MIN_COVERAGE_LIMIT %]"

rm "${mpileupPath1}"
rm "${mpileupPath2}"

success
