#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="DiffBams" main_step=diff_name log_name="${step}.log" %]

assert_not_empty "[% input_bam1 %]" "[% input_bam2 %]"

[% opt.BAMUTIL_PATH %]/bam diff --in1 "[% input_bam1 %]" --in2 "[% input_bam2 %]" --noPos --onlyDiffs --baseQual > "[% output_diff %]"

success
