#!/bin/bash
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME="VariantFilter"
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)

bash [% opt.CLUSTER_PATH %]/settings.sh

cd [% opt.OUTPUT_DIR %]/tmp

echo "Start variant filter	" `date` "	[% runName %].raw_variants.vcf	" `uname -n` >> [% opt.OUTPUT_DIR %]/logs/[% runName %].log

if [ -s [% opt.OUTPUT_DIR %]/[% runName %].raw_variants.vcf ]; then
	[% IF opt.REPORT_STATUS %]
		export JOB_STEP=
		export JOB_STATUS="processing"
		[% opt.REPORT_STATUS %]
	[% END %]
  
	[% command %]
else
	echo "ERROR: [% runName %].raw_variants.vcf does not exist." >&2
  
	[% IF opt.REPORT_STATUS %]
		export JOB_STEP=
		export JOB_STATUS="failed"
		[% opt.REPORT_STATUS %]
	[% END %]
fi

[% IF opt.FILTER_MODE == 'yes' %]
	if [ -f [% opt.OUTPUT_DIR %]/tmp/.[% runName %].filtered_snps.vcf.done ]; then
		mv [% opt.OUTPUT_DIR %]/tmp/[% runName %].filtered_snps.vcf [% opt.OUTPUT_DIR %]/
		mv [% opt.OUTPUT_DIR %]/tmp/[% runName %].filtered_snps.vcf.idx [% opt.OUTPUT_DIR %]/
		touch [% opt.OUTPUT_DIR %]/logs/VariantFilter.done
    
  	[% IF opt.REPORT_STATUS %]
  		export JOB_STEP=
  		export JOB_STATUS="success"
  		[% opt.REPORT_STATUS %]
  	[% END %]
	fi
[% ELSIF opt.FILTER_MODE == 'INDEL' %]
	if [ -f [% opt.OUTPUT_DIR %]/tmp/.[% runName %].filtered_indels.vcf.done ]; then
		mv [% opt.OUTPUT_DIR %]/tmp/[% runName %].filtered_indels.vcf [% opt.OUTPUT_DIR %]/
		mv [% opt.OUTPUT_DIR %]/tmp/[% runName %].filtered_indels.vcf.idx [% opt.OUTPUT_DIR %]/
		touch [% opt.OUTPUT_DIR %]/logs/VariantFilter.done
    
  	[% IF opt.REPORT_STATUS %]
  		export JOB_STEP=
  		export JOB_STATUS="success"
  		[% opt.REPORT_STATUS %]
  	[% END %]
	fi
[% ELSIF opt.FILTER_MODE == 'BOTH' %]
	if [ -f [% opt.OUTPUT_DIR %]/tmp/.[% runName %].filtered_variants.vcf.done ]; then
		mv [% opt.OUTPUT_DIR %]/tmp/[% runName %].filtered_variants.vcf [% opt.OUTPUT_DIR %]/
		mv [% opt.OUTPUT_DIR %]/tmp/[% runName %].filtered_variants.vcf.idx [% opt.OUTPUT_DIR %]/
		touch [% opt.OUTPUT_DIR %]/logs/VariantFilter.done
    
  	[% IF opt.REPORT_STATUS %]
  		export JOB_STEP=
  		export JOB_STATUS="success"
  		[% opt.REPORT_STATUS %]
  	[% END %]
	fi
[% END %]

echo "End variant filter	" `date` "	[% runName %].raw_variants.vcf	" `uname -n` >> [% opt.OUTPUT_DIR %]/logs/[% runName %].log

