#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="Flagstat" main_step=flagstat_name log_name="${step}.log" %]

[ -s "[% bam_path %]" ] || failure "[% bam_path %] does not exist or is empty."

[% opt.SAMBAMBA_PATH %]/sambamba flagstat -t [% opt.FLAGSTAT_THREADS %] "[% bam_path %]" > "[% flagstat_path %]"

[ -s "[% flagstat_path %]" ] || failure "[% flagstat_path %] does not exist or is empty."
success
