[general]
chrLenFile=[% opt.FREEC_CHRLENFILE %]
ploidy=2
samtools=[% opt.SAMTOOLS_PATH %]/samtools
sambamba=[% opt.SAMBAMBA_PATH %]/sambamba
chrFiles=[% opt.FREEC_CHRFILES %]
window=[% opt.FREEC_WINDOW %]
maxThreads=[% opt.FREEC_THREADS %]
telocentromeric=[% opt.FREEC_TELOCENTROMERIC %]
BedGraphOutput=TRUE
outputDir=[% dirs.freec.out %]
[%- IF opt.exists('FREEC_MAPPABILITY_TRACK') %]
gemMappabilityFile=[% opt.FREEC_MAPPABILITY_TRACK %]
[%- END %]

[sample]
mateFile=[% sample_path %]
[%- IF opt.FREEC_BAF == "yes" %]
inputFormat=pileup
[% ELSE %]
inputFormat=BAM
[% END -%]
mateOrientation=FR

[%- IF control_path -%]

[control]
mateFile=[% control_path %]
[%- IF opt.FREEC_BAF == "yes" %]
inputFormat=pileup
[% ELSE %]
inputFormat=BAM
[% END -%]
mateOrientation=FR
[% END -%]

[%- IF opt.exists('CNV_TARGETS') -%]

[target]
captureRegions=[% opt.CNV_TARGETS %]
[% END -%]

[%- IF opt.FREEC_BAF == "yes" -%]

[BAF]
SNPfile=[% opt.FREEC_SNPFILE %]
[% END -%]
