#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Freebayes
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.freebayes.out %]
if [ -s "[% tumor_bam_path %]" ] && [ -s "[% ref_bam_path %]" ]
then
    echo "Start	${JOB_NAME}	$(date)	[% chr %]    [% ref_bam_path %]    [% tumor_bam_path %]	$(uname -n)" >> "[% dirs.log %]/freebayes.log"
    [% INCLUDE Status.tt step=chr status="processing" %]

    [% opt.FREEBAYES_PATH %]/freebayes \
        -f [% opt.GENOME %] \
        -r [% chr %] \
        [% opt.FREEBAYES_SETTINGS %] \
        "[% ref_bam_path %]" \
        "[% tumor_bam_path %]" \
        > "[% output_vcf %]"

    [% opt.VCFTOOLS_PATH %]/vcf-sort -c -t "[% dirs.freebayes.tmp %]" "[% output_vcf %]" \
        | [% opt.VCFLIB_PATH %]/vcfuniq > "[% output_vcf %].sorted_uniq.vcf"

    [%- IF opt.exists('SOMVAR_TARGETS') %]
    java -Xmx[% opt.FREEBAYES_MEM %]G \
        -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
        -T SelectVariants \
        -R "[% opt.GENOME %]" \
        -L "[% opt.SOMVAR_TARGETS %]" \
        -V "[% output_vcf %].sorted_uniq.vcf" \
        -o "[% output_vcf %].sorted_uniq_targetfilter.vcf"

    mv "[% output_vcf %].sorted_uniq_targetfilter.vcf" "[% output_vcf %]"
    [%- ELSE %]
    mv "[% output_vcf %].sorted_uniq.vcf" "[% output_vcf %]"
    [%- END %]

    touch "[% done_file %]"
    [% INCLUDE Status.tt step=chr status="finished" %]

    echo "End	${JOB_NAME}	$(date)	[% chr %]    [% ref_bam_path %]    [% tumor_bam_path %]	$(uname -n)" >> "[% dirs.log %]/freebayes.log"
else
    [% INCLUDE Status.tt step=chr status="failed" %]
    fail "[% tumor_bam_path %] or [% ref_bam_path %] does not exist."
fi
