#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Freec
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

[% INCLUDE Status.tt step=sample_name status="processing" %]

if [ -s [% sample_bam %] [% IF control_bam %]] && [ -s [% control_bam %] [% END %]]
then
    echo "Start	${JOB_NAME}	$(date)	[% sample_name %]	$(uname -n)" >> [% dirs.log %]/freec.log

    PATH=[% opt.SAMTOOLS_PATH %]:$PATH
    export PATH

    [% opt.FREEC_PATH %]/freec -conf [% config_file %]

    cd [% dirs.freec.out %]
    cnv_file="[% sample_bam_name %]_CNVs"
    ratio_file="[% sample_bam_name %]_ratio.txt"
    if [ -s "$ratio_file" ]
    then
        R --slave --args 2 $ratio_file < [% opt.FREEC_PATH %]/makeGraph.R
        if [ -s "$cnv_file" ]
        then
            R --slave --args $cnv_file $ratio_file < [% opt.FREEC_PATH %]/assess_significance.R
            R --slave --args 2 4 500000 $ratio_file < [% opt.OUTPUT_DIR %]/scripts/makeKaryotype.R
        else
            echo "No copy number variants found, skipping post-processing"
        fi
    fi

    if [ -s "$cnv_file" ] && [ -s "$ratio_file" ] \
           && [ -s "[% sample_bam_name %]_CNVs.p.value.txt" ] \
           && [ -s "[% sample_bam_name %]_ratio.txt.png" ] \
           && [ -s "[% sample_bam_name %]_ratio_karyotype.pdf" ] \
           || [ -f "$cnv_file" ] && [ -s "$ratio_file" ]
    then
        touch "[% done_file %]"
        [% INCLUDE Status.tt step=sample_name status="success" %]
    else
        [% INCLUDE Status.tt step=sample_name status="failed" %]
        fail "$ratio_file does not exist or is empty, or $cnv_file exists but analysis files do not"
    fi
else
    [% INCLUDE Status.tt step=sample_name status="failed" %]
    fail "[% sample_bam %] [% IF control_bam %]or [% control_bam %] [% END %]does not exist."
fi

echo "End	${JOB_NAME}	$(date)	[% sample_name %]	$(uname -n)" >> [% dirs.log %]/freec.log
