[general]
chrLenFile=[% opt.FREEC_CHRLENFILE %]
ploidy=2
samtools=[% opt.SAMTOOLS_PATH %]/samtools
sambamba=[% opt.SAMBAMBA_PATH %]/sambamba
chrFiles=[% opt.FREEC_CHRFILES %]
window=[% opt.FREEC_WINDOW %]
maxThreads=[% opt.FREEC_THREADS %]
telocentromeric=[% opt.FREEC_TELOCENTROMERIC %]
BedGraphOutput=TRUE
outputDir=[% dirs.freec.out %]
[% FOREACH mappabilityTrack IN mappabilityTracks -%]
gemMappabilityFile=[% mappabilityTrack %]
[% END -%]

[sample]
[%- IF opt.FREEC_BAF == "yes" %]
mateFile=[% sample_pileup %]
inputFormat=pileup
[% ELSE %]
mateFile=[% sample_bam %]
inputFormat=BAM
[% END -%]
mateOrientation=FR

[%- IF control_bam -%]

[control]
[%- IF opt.FREEC_BAF == "yes" %]
mateFile=[% control_pileup %]
inputFormat=pileup
[% ELSE %]
mateFile=[% control_bam %]
inputFormat=BAM
[% END -%]
mateOrientation=FR
[% END -%]

[%- IF opt.exists('CNV_TARGETS') -%]

[target]
captureRegions=[% opt.CNV_TARGETS %]
[% END -%]

[%- IF opt.FREEC_BAF == "yes" -%]

[BAF]
SNPfile=[% opt.FREEC_SNPFILE %]
[% END -%]
