#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Freebayes
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.freebayes.out %]

if \
   [% FOREACH input_vcf IN input_vcfs %]
   [ -s "[% input_vcf %]" ] && \
   [%- END %]
   true
then
    echo "Start	concat and postprocess Freebayes	$(date)	[% joint_name %]	$(uname -n)" >> "[% dirs.log %]/freebayes.log"
    [% INCLUDE Status.tt step="PostProcess" status="processing" %]

    [% opt.VCFTOOLS_PATH %]/vcf-concat [% input_vcfs.join(' ') %] > "[% joint_name %].vcf"
    uniq [% dirs.freebayes.out %]/[% joint_name %].vcf > [% dirs.freebayes.out %]/[% joint_name %].uniq.vcf
    mv [% dirs.freebayes.out %]/[% joint_name %].uniq.vcf [% dirs.freebayes.out %]/[% joint_name %].vcf

    # Filter based on BCBIO filters
    [% opt.OUTPUT_DIR %]/scripts/filterFreebayes.py \
        -v [% dirs.freebayes.out %]/[% joint_name %].vcf \
        | java -Xmx[% opt.FREEBAYES_MEM %]G \
            -jar [% opt.SNPEFF_PATH %]/SnpSift.jar \
            filter "[% opt.FREEBAYES_SOMATICFILTER %]" \
            > "[% dirs.freebayes.out %]/[% joint_name %]_somatic_filtered_unnormalized.vcf"

    [% opt.VT_PATH %]/vt normalize \
        -r "[% opt.GENOME %]" \
        "[% dirs.freebayes.out %]/[% joint_name %]_somatic_filtered_unnormalized.vcf" \
        -o "[% final_vcf %]"

    if [ -s "[% final_vcf %]" ]
    then
        rm -r [% dirs.freebayes.tmp %] [% input_vcfs.join(' ') %]

        ## Check on complete output!!!
        touch "[% done_file %]"
        [% INCLUDE Status.tt step="PostProcess" status="success" %]
    else
        [% INCLUDE Status.tt step="PostProcess" status="failed" %]
        fail "[% final_vcf %] does not exist."
    fi

    echo "End	concat and postprocess Freebayes	$(date)	[% joint_name %]	$(uname -n)" >> "[% dirs.log %]/freebayes.log"
else
    [% INCLUDE Status.tt step="PostProcess" status="failed" %]
    fail "An input VCF does not exist."
fi
