#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="Freebayes" main_step=chr log_name="freebayes.log" %]

cd "[% dirs.freebayes.out %]"

[ -s "[% tumor_bam_path %]" ] && [ -s "[% ref_bam_path %]" ] || failure "[% ref_bam_path %] or [% tumor_bam_path %] does not exist."

[% opt.FREEBAYES_PATH %]/freebayes \
    -f [% opt.GENOME %] \
    -r [% chr %] \
    [% opt.FREEBAYES_SETTINGS %] \
    "[% ref_bam_path %]" \
    "[% tumor_bam_path %]" \
    > "[% output_vcf %]"

[% opt.VCFTOOLS_PATH %]/vcf-sort -c -t "[% dirs.freebayes.tmp %]" "[% output_vcf %]" \
    | [% opt.VCFLIB_PATH %]/vcfuniq > "[% output_vcf %].sorted_uniq.vcf"

[%- IF opt.exists('SOMVAR_TARGETS') %]
java -Xmx[% opt.FREEBAYES_MEM %]G \
    -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
    -T SelectVariants \
    -R "[% opt.GENOME %]" \
    -L "[% opt.SOMVAR_TARGETS %]" \
    -V "[% output_vcf %].sorted_uniq.vcf" \
    -o "[% output_vcf %].sorted_uniq_targetfilter.vcf"

mv "[% output_vcf %].sorted_uniq_targetfilter.vcf" "[% output_vcf %]"
[%- ELSE %]
mv "[% output_vcf %].sorted_uniq.vcf" "[% output_vcf %]"
[%- END %]

success
