#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME=Freebayes
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)


cd [% freebayes_out_dir %]

[% file_test %]
then
  echo "Start concat and postprocess Freebayes  " `date` "   [% sample_ref_bam %]    [% sample_tumor_bam %]  " `uname -n` >> [% log_dir %]/freebayes.log
  [% INCLUDE Status.tt step="PostProcess" status="processing" %]
  
  [% concat_command %]
  
  # Uniqify freebayes output
  uniq [% freebayes_out_dir %]/[% sample_tumor_name %].vcf > [% freebayes_out_dir %]/[% sample_tumor_name %].uniq.vcf
  mv [% freebayes_out_dir %]/[% sample_tumor_name %].uniq.vcf [% freebayes_out_dir %]/[% sample_tumor_name %].vcf

  # Filter based on BCBIO filters
  [% opt.OUTPUT_DIR %]/scripts/filterFreebayes.py -v [% freebayes_out_dir %]/[% sample_tumor_name %].vcf | java -Xmx[% opt.FREEBAYES_MEM %]G -jar [% opt.SNPEFF_PATH %]/SnpSift.jar filter "[% opt.FREEBAYES_SOMATICFILTER %]" > [% freebayes_out_dir %]/[% sample_tumor_name %]_somatic_filtered.vcf

  # Check freebayes completed
  if [ -s [% freebayes_out_dir %]/[% sample_tumor_name %]_somatic_filtered.vcf ]
  then
    [% rm_command %]
    
    ## Check on complete output!!!
    touch [% log_dir %]/freebayes.done
    
    [% INCLUDE Status.tt step="PostProcess" status="success" %]
  else
    echo "ERROR: [% freebayes_out_dir %]/[% sample_tumor_name %]_somatic_filtered.vcf does not exist." >&2

    [% INCLUDE Status.tt step="PostProcess" status="failed" %]
  fi
  
  echo "End concat and postprocess Freebayes  " `date` "   [% sample_ref_bam %]    [% sample_tumor_bam %]  " `uname -n` >> [% log_dir %]/freebayes.log
else
  echo "ERROR: [% sample_tumor_bam %] or [% sample_ref_bam %] does not exist." >&2
  
  [% INCLUDE Status.tt step="PostProcess" status="failed" %]
fi
