#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Freec" main_step=sample_name log_name="freec.log" %]

assert_not_empty "[% sample_path %]"
[%- IF control_path %]
assert_not_empty "[% control_path %]"
[%- END %]

PATH=[% opt.SAMTOOLS_PATH %]:$PATH
export PATH

[% opt.FREEC_PATH %]/freec -conf "[% config_file %]"

cd "[% dirs.freec.out %]"
cnv_file="[% sample_file_name %]_CNVs"
ratio_file="[% sample_file_name %]_ratio.txt"

assert_exists "$cnv_file"
assert_not_empty "$ratio_file"

start_step "MAKE_GRAPH"
R --slave --args 2 "$ratio_file" < [% opt.FREEC_PATH %]/makeGraph.R
finish_step

assert_not_empty "[% sample_file_name %]_ratio.txt.png"

if [ -s "$cnv_file" ]
then
    start_step "ASSESS_SIGNIFICANCE"
    R --slave --args "$cnv_file" "$ratio_file" < "[% opt.FREEC_PATH %]/assess_significance.R"
    finish_step
    start_step "MAKE_KARYOTYPE"
    R --slave --args 2 4 500000 "$ratio_file" < "[% opt.OUTPUT_DIR %]/scripts/makeKaryotype.R"
    finish_step
    assert_not_empty "[% sample_file_name %]_CNVs.p.value.txt" "[% sample_file_name %]_ratio_karyotype.pdf"
else
    echo "No copy number variants found, skipping post-processing."
fi

success