#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="Gender" main_step="" log_name="${opt.RUN_NAME}.log" %]

cd "[% dirs.tmp %]"

# same step as kinship, but easier to segregate and repeat (runs fast, saves a depedency)
[% opt.VCFTOOLS_PATH %]/vcftools --temp "[% dirs.tmp %]" --out "[% dirs.tmp %]/gender_input" --vcf "[% vcf_path %]" --plink
cut -f 1-6 "[% dirs.tmp %]/gender_input.ped" > "[% dirs.tmp %]/gender_input.fam"

java -Xmx[% opt.GENDER_MEM %]G \
    -jar "[% opt.GATK_PATH %]/GenomeAnalysisTK.jar" \
    -T VariantsToBinaryPed \
    -R "[% opt.GENOME %]" \
    -V "[% vcf_path %]" \
    -m "[% dirs.tmp %]/gender_input.fam" \
    -bed gender.bed \
    -bim gender.bim \
    -fam gender.fam \
    -mgq [% opt.GENDER_MIN_GQ %]

[% opt.PLINK_PATH %]/plink \
    --bed gender.bed \
    --bim gender.bim \
    --fam gender.fam \
    --check-sex \
    [% opt.GENDER_FEMALE_MAX_F %] \
    [% opt.GENDER_MALE_MIN_F %]

[ -s "plink.sexcheck" ] || failure "plink.sexcheck is missing"
mv plink.sexcheck "[% output_file %]"
success
