#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="GermlineAnnotation" main_step=final_vcf log_name="${opt.RUN_NAME}.log" %]

[%- pre_annotated_vcf = input_vcf -%]

cd "[% dirs.out %]"

start_step "ANNOTATE_SNPEFF"

assert_not_empty "[% input_vcf %]"
[%- output_vcf = input_vcf.replace('\.vcf$', '_snpEff.vcf') %]
rm -f "[% output_vcf %]" "[% output_vcf %].idx"

java -Xmx[% opt.ANNOTATE_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar [% opt.SNPEFF_PATH %]/snpEff.jar \
    -c [% opt.SNPEFF_PATH %]/snpEff.config \
    [% opt.ANNOTATE_SNPEFF_DB %] \
    -v "[% input_vcf %]" \
    [% opt.ANNOTATE_SNPEFF_FLAGS %] \
    > "[% output_vcf %]"

[%- input_vcf = output_vcf %]
finish_step

start_step "ANNOTATE_DBNSFP"

assert_not_empty "[% input_vcf %]"
[%- output_vcf = input_vcf.replace('\.vcf$', '_snpSift.vcf') %]
rm -f "[% output_vcf %]" "[% output_vcf %].idx"

java -Xmx[% opt.ANNOTATE_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar [% opt.SNPEFF_PATH %]/SnpSift.jar \
    dbnsfp \
    -v \
    -f [% opt.ANNOTATE_DBNSFP_FIELDS %] \
    -db [% opt.ANNOTATE_DBNSFP_DB %] \
    "[% input_vcf %]" \
    > "[% output_vcf %]"

rm "[% input_vcf %]" "[% input_vcf %].idx"

[%- input_vcf = output_vcf %]
finish_step

start_step "ANNOTATE_COSMIC"

assert_not_empty "[% input_vcf %]"
[%- suffix = '_' _ opt.ANNOTATE_COSMIC_ID _ '.vcf' -%]
[%- output_vcf = input_vcf.replace('\.vcf$', suffix) %]
rm -f "[% output_vcf %]" "[% output_vcf %].idx"

java -Xmx[% opt.ANNOTATE_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
    -T VariantAnnotator \
    -nt [% opt.ANNOTATE_THREADS %] \
    -R [% opt.REF_GENOME %] \
    -o "[% output_vcf %]" \
    --variant "[% input_vcf %]" \
    --dbsnp [% opt.ANNOTATE_COSMIC_DB %] \
    --alwaysAppendDbsnpId

rm "[% input_vcf %]" "[% input_vcf %].idx"

[%- input_vcf = output_vcf %]
finish_step

start_step "ANNOTATE_FREQUENCIES"

assert_not_empty "[% input_vcf %]"
[%- suffix = '_' _ opt.ANNOTATE_FREQ_NAME _ '.vcf' -%]
[%- output_vcf = input_vcf.replace('\.vcf$', suffix) %]
rm -f "[% output_vcf %]" "[% output_vcf %].idx"

java -Xmx[% opt.ANNOTATE_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar [% opt.SNPEFF_PATH %]/SnpSift.jar \
    annotate \
    -tabix \
    -name [% opt.ANNOTATE_FREQ_NAME %]_ \
    -info [% opt.ANNOTATE_FREQ_INFO %] \
    [% opt.ANNOTATE_FREQ_DB %] \
    "[% input_vcf %]" \
    > "[% output_vcf %]"

rm "[% input_vcf %]" "[% input_vcf %].idx"

[%- input_vcf = output_vcf %]
finish_step

assert_last_position_unchanged "[% pre_annotated_vcf %]" "[% output_vcf %]"
mv "[% output_vcf %]" "[% final_vcf %]"
mv "[% output_vcf %].idx" "[% final_vcf %].idx"

## KODU: Do a final zip and tabix

[% opt.TABIX_PATH %]/bgzip -f "[% final_vcf %]"
[% opt.TABIX_PATH %]/tabix -p vcf "[% final_vcf %].gz"
success
