#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="GridssAssemble" main_step=joint_name log_name="GridssAssemble_${joint_name}.log" %]

jvm_args="-ea -Dsamjdk.create_index=true -Dsamjdk.use_async_io_read_samtools=true -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=true"

echo "[INFO] Running GRIDSS AssembleBreakends for [% joint_name %] - $(date)"

java -Xmx[% opt.GRIDSS_ASSEMBLE_MEM %]G ${jvm_args} -Dgridss.output_to_temp_file=true -cp "[% opt.GRIDSS_PATH %]/gridss.jar" \
    gridss.AssembleBreakends \
    TMP_DIR=[% dirs.tmp %] \
    WORKING_DIR=[% dirs.out %] \
    REFERENCE_SEQUENCE=[% opt.REF_GENOME %] \
    INPUT=[% ref_sample_bam %] \
    INPUT=[% tumor_sample_bam %] \
    OUTPUT=[% assembly_bam %] \
    WORKER_THREADS=[% opt.GRIDSS_ASSEMBLE_THREADS %] \
    BLACKLIST=[% opt.GRIDSS_BLACKLIST %] \
    CONFIGURATION_FILE=[% opt.OUTPUT_DIR %]/settings/gridss/[% opt.GRIDSS_CONFIG %]

assert_not_empty [% assembly_bam %]

success