#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="GridssCleanup" main_step=joint_name log_name="GridssCleanup_${joint_name}.log" %]

echo "[INFO] Cleaning up SV BAM for [% ref_sample %] - $(date)"

# KODU: Exact name is "$sample.bam.sv.bam", eg 'COLO829R_dedup.bam.sv.bam'
rm "[% ref_sample_working_dir %]"/*.sv.bam
rm "[% ref_sample_working_dir %]"/*.sv.bam

echo "[INFO] Cleaning up SV BAM for [% tumor_sample %] - $(date)"

# KODU: Exact name is "$sample.bam.sv.bam", eg 'COLO829T_dedup.bam.sv.bam'
rm "[% tumor_sample_working_dir %]"/*.sv.bam
rm "[% tumor_sample_working_dir %]"/*.sv.bam

echo "[INFO] Cleaning up assembly bam for [% joint_name %] - $(date)"

rm "[% assembly_bam %]" "[% assembly_bai %]"

success