#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="IndexBam" main_step=bam_path log_name="${step}.log" %]

[ -s "[% bam_path %]" ] || failure "[% bam_path %] does not exist or is empty."

[% opt.SAMBAMBA_PATH %]/sambamba index -t [% opt.MAPPING_THREADS %] "[% bam_path %]" "[% bai_path %]"

[ -s "[% bai_path %]" ] || failure "[% bai_path %] does not exist or is empty."
success
