#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME=Kinship
export JOB_SET="[% opt.RUN_NAME %]"
export JOB_START=$(date +%s)

bash [% opt.CLUSTER_PATH %]/settings.sh

cd [% opt.OUTPUT_DIR %]/

[% INCLUDE Status.tt step="" status="processing" %]

echo "Start Kinship	" `date` "	[% vcf %]	" `uname -n` >> logs/[% opt.RUN_NAME %].log

[% opt.VCFTOOLS_PATH %]/vcftools --temp tmp --out tmp/out --vcf [% vcf %] --plink
[% opt.PLINK_PATH %]/plink --file tmp/out --out tmp/plink --make-bed --noweb
[% opt.KING_PATH %]/king -b tmp/plink.bed --kinship --prefix tmp/king
cp tmp/king.kin0 [% opt.RUN_NAME %].kinship
mv tmp/plink.log logs/

if [ -s [% opt.RUN_NAME %].kinship ]; then
    touch logs/Kinship.done
    [% INCLUDE Status.tt step="" status="success" %]
else
    [% INCLUDE Status.tt step="" status="failed" %]
    fail "kinship file missing"
fi

echo "End Kinship	" `date` "	[% vcf %]	" `uname -n` >> logs/[% opt.RUN_NAME %].log
