#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode="harsh" %]

export JOB_NAME=Kinship
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)

bash [% opt.CLUSTER_PATH %]/settings.sh

cd [% opt.OUTPUT_DIR %]/

[% INCLUDE Status.tt step="" status="processing" %]

echo "Start Kinship	" `date` "	[% vcf %]	" `uname -n` >> logs/[% runName %].log

[% opt.VCFTOOLS_PATH %]/vcftools --temp tmp --out tmp/out --vcf [% vcf %] --plink
[% opt.PLINK_PATH %]/plink --file tmp/out --out tmp/plink --make-bed --noweb
[% opt.KING_PATH %]/king -b tmp/plink.bed --kinship --prefix tmp/king
cp tmp/king.kin0 [% runName %].kinship
mv tmp/plink.log logs/
mv tmp/out.log logs/

if [ -s [% runName %].kinship ]; then
    touch logs/Kinship.done
    [% INCLUDE Status.tt step="" status="success" %]
else
    [% INCLUDE Status.tt step="" status="failed" %]
    fail "kinship file missing"
fi

echo "End Kinship	" `date` "	[% vcf %]	" `uname -n` >> logs/[% runName %].log
