#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="Manta" main_step=joint_name log_name="Manta_${joint_name}.log" %]

cd "[% opt.OUTPUT_DIR %]"

[% IF opt.SV_MODE == "sample_control" %]
[% opt.MANTA_PATH %]/configManta.py --referenceFasta "[% opt.GENOME %]" --runDir "[% dirs.out %]" --normalBam "[% control_bam %]" --tumorBam "[% sample_bam %]"
[% ELSE %]
[% opt.MANTA_PATH %]/configManta.py --referenceFasta "[% opt.GENOME %]" --runDir "[% dirs.out %]" --bam "[% sample_bam %]"
[% END %]

[% dirs.out %]/runWorkflow.py -m local -j [% opt.MANTA_THREADS %]

[ -s "[% dirs.out %]/results/variants/diploidSV.vcf.gz.tbi" ] \
    [%- IF opt.SV_MODE == "sample_control" %]
    && [ -s "[% dirs.out %]/results/variants/somaticSV.vcf.gz.tbi" ] \
    [%- END %]
    && [ "$(cat "[% dirs.out %]/workflow.exitcode.txt")" == "0" ] \
    || failure "Manta output files are missing or workflow logged non-zero exit code."

success
