#!/bin/sh
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME=Map
export JOB_SET="[% sampleName %]"
export JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sampleName %]/mapping

echo "Start mapping 	" `date` "	[% coreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

[% IF opt.REPORT_STATUS %]
	export JOB_STEP=
	export JOB_STATUS=processing
	[% opt.REPORT_STATUS %]
[% END %]

[% IF R2 %]
[% opt.BWA_PATH %]/bwa mem -t [% opt.MAPPING_THREADS %] [% opt.MAPPING_SETTINGS %] -R "@RG	ID:[% RG_ID %]	SM:[% RG_SM %]	PL:[% RG_PL %]	LB:[% RG_LB %]	PU:[% RG_PU %]" [% opt.GENOME %] [% R1 %] [% R2 %] \
	 2>>[% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% coreName %]_bwa_log | [% opt.SAMBAMBA_PATH %]/sambamba view -t [% opt.MAPPING_THREADS %] --format=bam -S -o [% coreName %].bam.tmp /dev/stdin
[% ELSE %]
[% opt.BWA_PATH %]/bwa mem -t [% opt.MAPPING_THREADS %] [% opt.MAPPING_SETTINGS %] -R "@RG	ID:[% RG_ID %]	SM:[% RG_SM %]	PL:[% RG_PL %]	LB:[% RG_LB %]	PU:[% RG_PU %]" [% opt.GENOME %] [% R1 %] \
	 2>>[% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% coreName %]_bwa_log | [% opt.SAMBAMBA_PATH %]/sambamba view -t [% opt.MAPPING_THREADS %] --format=bam -S -o [% coreName %].bam.tmp /dev/stdin
[% END %]

if grep -Fq '[main] Real time:' [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% coreName %]_bwa_log; then
	mv [% coreName %].bam.tmp [% coreName %].bam
	touch [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% coreName %]_bwa.done
  
	[% IF opt.REPORT_STATUS %]
		export JOB_STEP=
		export JOB_STATUS=success
		[% opt.REPORT_STATUS %]
	[% END %]
	[% IF opt.REPORT_STATUS %]
else
		export JOB_STEP=
		export JOB_STATUS=failed
		[% opt.REPORT_STATUS %]
	[% END %]
fi

echo "End mapping	" `date` "	[% coreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log
