#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Map" main_step=fastq.coreName log_name="${fastq.sampleName}.log" %]

cd "[% dirs.mapping %]"

[% opt.BWA_PATH %]/bwa mem \
    -t [% opt.MAPPING_THREADS %] \
    [% opt.MAPPING_SETTINGS %] \
    -R "@RG ID:[% fastq.coreName %]\tSM:[% fastq.sampleName %]\tPL:ILLUMINA\tLB:[% fastq.sampleName %]\tPU:[% fastq.flowcellID %]" \
    "[% opt.REF_GENOME %]" \
    "[% fastq.R1 %]" \
    [%- IF fastq.exists('R2') %]
    "[% fastq.R2 %]" \
    [%- END %]
    | [% opt.SAMBAMBA_PATH %]/sambamba view \
          -t [% opt.MAPPING_THREADS %] \
          --format=bam \
          -S \
          -o "[% output_bam %].tmp" \
          /dev/stdin

grep -Fq "[main] Real time:" "$SGE_STDERR_PATH" || failure "[% fastq.coreName %] BWA did not finish properly."
mv "[% output_bam %].tmp" "[% output_bam %]"
success