#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="MarkDone" main_step=done_file_name log_name="${done_file_name}.log" %]

# unlike other jobs, this is never touches the .done file of MarkDone itself
# to be used for the .done file of the "parent" job in a multi-job chain (returned from checkReportedDoneFile)
success
