#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Mutect
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.mutect.tmp %]

if [ -s "[% ref_sample_bam %]" ] && \
   [ -s "[% tumor_sample_bam %]" ] && \
   [% FOREACH vcf IN vcfs %]
   [ -s "[% vcf %]" ] && \
   [%- END %]
   true
then
    echo "Start concat and filter Mutect   $(date)    [% ref_sample_bam %]    [% tumor_sample_bam %]   $(uname -n)" >> [% dirs.log %]/mutect.log

    [% INCLUDE Status.tt step="CF" status="processing" %]

    [% opt.VCFTOOLS_PATH %]/vcf-concat [% vcfs.join(' ') %] > "[% somatic_name %]_mutect.vcf"

    java -Xmx[% opt.MUTECT_MEM %]G \
        -jar [% opt.SNPEFF_PATH %]/SnpSift.jar \
        filter "(na FILTER) | (FILTER = 'PASS')" \
        "[% somatic_name %]_mutect.vcf" \
        > "[% somatic_name %]_mutect_passed.vcf"

    if [ -s [% somatic_name %]_mutect.vcf ] && [ -s [% somatic_name %]_mutect_passed.vcf ]
    then
        mv [% somatic_name %]_mutect.vcf [% dirs.mutect.out %]/
        mv [% somatic_name %]_mutect_passed.vcf [% dirs.mutect.out %]/
        cd [% dirs.mutect.out %]/
        rm -r tmp/
        touch [% dirs.log %]/mutect.done

        [% INCLUDE Status.tt step="CF" status="success" %]
    else
        [% INCLUDE Status.tt step="CF" status="failed" %]
        fail "Mutect VCFs not present"
    fi
    echo "End concat and filter Mutect   $(date)    [% ref_sample_bam %]   [% tumor_sample_bam %]   $(uname -n)" >> [% dirs.log %]/mutect.log
else
    [% INCLUDE Status.tt step="CF" status="failed" %]
    fail "[% tumor_sample_bam %], [% ref_sample_bam %] or a chromosome chunk VCF does not exist."
fi
