#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Mutect" main_step=chr log_name="mutect.log" %]

assert_not_empty "[% ref_bam_path %]" "[% tumor_bam_path %]"

cd "[% dirs.mutect.tmp %]"

java -Xmx[% opt.MUTECT_MEM %]G \
    -jar "[% opt.MUTECT_PATH %]/mutect.jar" \
    -T MuTect \
    -R "[% opt.GENOME %]" \
    --cosmic "[% opt.MUTECT_COSMIC %]" \
    --dbsnp "[% opt.CALLING_DBSNP %]" \
    --intervals [% chr %] \
    --input_file:normal "[% ref_bam_path %]" \
    --input_file:tumor "[% tumor_bam_path %]" \
    --vcf "[% output_vcf %]"

success
