#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Mutect
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

if [ -s [% tumor_sample_bam %] ] && [ -s [% ref_sample_bam %] ]
then
    echo "Start Mutect   $(date)    [% chr %]    [% ref_sample_bam %]    [% tumor_sample_bam %]  $(uname -n)" >> [% dirs.log %]/mutect.log
    cd [% dirs.mutect.tmp %]

    [% INCLUDE Status.tt step=chr status="processing" %]

    java -Xmx[% opt.MUTECT_MEM %]G \
        -jar [% opt.MUTECT_PATH %]/mutect.jar \
        -T MuTect \
        -R [% opt.GENOME %] \
        --cosmic [% opt.MUTECT_COSMIC %] \
        --dbsnp [% opt.CALLING_DBSNP %] \
        --intervals [% chr %] \
        --input_file:normal [% ref_sample_bam %] \
        --input_file:tumor [% tumor_sample_bam %] \
        --out [% output_name %].out \
        --vcf [% output_name %]_mutect.vcf

    [% INCLUDE Status.tt step=chr status="finished" %]
  
    echo "End Mutect   $(date)    [% chr %]    [% ref_sample_bam %]    [% tumor_sample_bam %]   $(uname -n)" >> [% dirs.log %]/mutect.log
else
    [% INCLUDE Status.tt step=chr status="failed" %]
    fail "[% tumor_sample_bam %] or [% ref_sample_bam %] does not exist."
fi
