#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="MutectPostProcess" main_step=joint_name log_name="mutect.log" %]

cd "[% dirs.mutect.tmp %]"

[% FOREACH input_vcf IN input_vcfs %]
[ -s "[% input_vcf %]" ] && \
[%- END %]
    true || failure "A chromosome chunk VCF does not exist."

[% opt.VCFTOOLS_PATH %]/vcf-concat "[% input_vcfs.join('" "') %]" > "[% joint_name %]_mutect.vcf"

java -Xmx[% opt.MUTECT_MEM %]G \
    -jar [% opt.SNPEFF_PATH %]/SnpSift.jar \
    filter "(na FILTER) | (FILTER = 'PASS')" \
    "[% joint_name %]_mutect.vcf" \
    > "[% joint_name %]_mutect_passed.vcf"

[ -s "[% joint_name %]_mutect.vcf" ]
    && [ -s "[% joint_name %]_mutect_passed.vcf" ] \
    || failure "Mutect VCFs not present"

mv "[% joint_name %]_mutect.vcf" "[% dirs.mutect.out %]"
mv "[% joint_name %]_mutect_passed.vcf" "[% final_vcf %]"
rm -r "[% dirs.mutect.tmp %]"
success
