#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=MutectPostProcess
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

log_start "[% joint_name %]" "mutect.log"

cd "[% dirs.mutect.tmp %]"

if \
   [% FOREACH input_vcf IN input_vcfs %]
   [ -s "[% input_vcf %]" ] && \
   [%- END %]
   true
then
    [% INCLUDE Status.tt step="" status="processing" %]

    [% opt.VCFTOOLS_PATH %]/vcf-concat "[% input_vcfs.join('" "') %]" > "[% joint_name %]_mutect.vcf"

    java -Xmx[% opt.MUTECT_MEM %]G \
        -jar [% opt.SNPEFF_PATH %]/SnpSift.jar \
        filter "(na FILTER) | (FILTER = 'PASS')" \
        "[% joint_name %]_mutect.vcf" \
        > "[% joint_name %]_mutect_passed.vcf"

    if [ -s "[% joint_name %]_mutect.vcf" ] && [ -s "[% joint_name %]_mutect_passed.vcf" ]
    then
        mv "[% joint_name %]_mutect.vcf" "[% dirs.mutect.out %]"
        mv "[% joint_name %]_mutect_passed.vcf" "[% final_vcf %]"
        rm -r "[% dirs.mutect.tmp %]"

        touch "[% done_file %]"
        [% INCLUDE Status.tt step="" status="success" %]
    else
        [% INCLUDE Status.tt step="" status="failed" %]
        fail "Mutect VCFs not present"
    fi
else
    [% INCLUDE Status.tt step="" status="failed" %]
    fail "A chromosome chunk VCF does not exist."
fi

log_end "[% joint_name %]" "mutect.log"
