#!/bin/sh
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME=MapFS
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sampleName %]/mapping

echo "Start flagstat	" `date` "	[% coreName %].bam	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

[% INCLUDE Status.tt step=coreName status="processing" %]

[% opt.SAMBAMBA_PATH %]/sambamba flagstat -t [% opt.FLAGSTAT_THREADS %] [% coreName %].bam > [% coreName %].flagstat

[% INCLUDE Status.tt step=coreName status="finished" %]

echo "End Flagstat 	" `date` "	[% coreName %].bam	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log
