#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=MapFS
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sampleName %]/mapping

echo "Start	Flagstat	$(date)	[% coreName %].bam	$(uname -n)" >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

[% INCLUDE Status.tt step=coreName status="processing" %]

[% opt.SAMBAMBA_PATH %]/sambamba flagstat -t [% opt.FLAGSTAT_THREADS %] [% coreName %].bam > [% coreName %].flagstat

[% INCLUDE Status.tt step=coreName status="finished" %]

echo "End	Flagstat	$(date)	[% coreName %].bam	$(uname -n)" >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log
