#!/bin/bash
#
# Template used by Text::Template. See: http://search.cpan.org/~mjd/Text-Template-1.46/lib/Text/Template.pm
#

cd {$opt{OUTPUT_DIR}}

{
	$if_st = 'if [ -s QCStats/*.bamMetrics.pdf -a ';
	if ($opt{EXONCALLCOV} eq "yes"){
		for my $sample (@{$opt{SAMPLES}}) { $if_st .= "-s Exoncov_v3/$sample.html -a " };
       }
	$if_st .= '-s QCStats/*.bamMetrics.html ]; then';
	$if_st;
}
	touch logs/PostStats.done 
fi
echo "Finished poststats	" `date` "	" `uname -n` >> {$opt{OUTPUT_DIR}}/logs/{$runName}.log
