#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=PostStats
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.tmp %]

echo "Start	poststats	$(date)		$(uname -n)" >> [% dirs.log %]/[% opt.RUN_NAME %].log

[% INCLUDE Status.tt step="" status="processing" %]

perl [% opt.BAMMETRICS_PATH %]/bamMetrics.pl \
[% FOREACH bam_file IN sample_bams.values -%]
    -bam [% bam_file %] \
[% END -%]
    -output_dir [% dirs.out %] \
    -run_name [% opt.RUN_NAME %] \
    -genome [% opt.GENOME %] \
    -queue [% opt.POSTSTATS_QUEUE %] \
    -queue_threads [% opt.POSTSTATS_THREADS %] \
    -queue_mem [% opt.POSTSTATS_MEM %] \
    -queue_time [% opt.POSTSTATS_TIME %] \
    -queue_project [% opt.CLUSTER_PROJECT %] \
    -picard_path [% opt.PICARD_PATH %] \
    -sambamba_path [% opt.SAMBAMBA_PATH %] \
    -debug \
    -wgs \
    -coverage_cap 250 \
[%- IF opt.exists('SINGLE_END') %]
    -single_end \
[%- END -%]
[%- IF opt.CLUSTER_RESERVATION == "yes" %]
    -queue_reserve \
[%- END %]
    ;

[% FOREACH pair IN sample_bams.pairs -%]
[% FOREACH design IN designs -%]
java -Xmx[% opt.POSTSTATS_MEM %]G -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
     -T UnifiedGenotyper \
     -R "[% opt.GENOME %]" \
     -L "[% opt.OUTPUT_DIR %]/settings/slicing/[% design %].vcf" \
     --output_mode EMIT_ALL_SITES \
     -I "[% pair.value %]" \
     -o "[% dirs.${pair.key} %]/[% pair.key %]_[% design %].vcf"
[% END -%]
[% END %]

[%- IF opt.EXONCALLCOV == "yes" -%]
[% opt.EXONCALLCOV_PATH %]/ExonCov.py \
[% FOREACH bam_file IN sample_bams.values -%]
    -i [% bam_file %] \
[% END -%]
    --queue [% opt.EXONCALLCOV_QUEUE %] \
    -a [% opt.EXONCALLCOV_TIME %] \
    -c [% opt.EXONCALLCOV_MEM %] \
    -b [% opt.EXONCALLCOV_BED %] \
    -n [% opt.EXONCALLCOV_ENS %] \
    -p [% opt.EXONCALLCOV_PREF %] \
    -l [% opt.EXONCALLCOV_PANEL %] \
    -s [% opt.SAMBAMBA_PATH %]/sambamba \
    -w [% dirs.tmp %] \
    -o [% dirs.exoncov %]
[% END -%]

# do not touch done file; this job shares name/step with the master done file. it is touched by markDone.
[% INCLUDE Status.tt step="" status="finished" %]
