#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="PostStats" main_step="" log_name="${opt.RUN_NAME}.log" %]

cd "[% dirs.tmp %]"

perl [% opt.BAMMETRICS_PATH %]/bamMetrics.pl \
[% FOREACH bam_file IN sample_bams.values -%]
    -bam "[% bam_file %]" \
[% END -%]
    -output_dir "[% dirs.out %]" \
    -run_name [% opt.RUN_NAME %] \
    -genome "[% opt.GENOME %]" \
    -queue [% opt.POSTSTATS_QUEUE %] \
    -queue_threads [% opt.POSTSTATS_THREADS %] \
    -queue_mem [% opt.POSTSTATS_MEM %] \
    -queue_time [% opt.POSTSTATS_TIME %] \
    -queue_project [% opt.CLUSTER_PROJECT %] \
    -picard_path "[% opt.PICARD_PATH %]" \
    -sambamba_path "[% opt.SAMBAMBA_PATH %]" \
    -debug \
    -wgs \
    -coverage_cap 250 \
[%- IF opt.exists('SINGLE_END') %]
    -single_end \
[%- END -%]
[%- IF opt.CLUSTER_RESERVATION == "yes" %]
    -queue_reserve \
[%- END %]
    ;

[% FOREACH pair IN sample_bams.pairs -%]
[% FOREACH design IN designs -%]
java -Xmx[% opt.POSTSTATS_MEM %]G -jar \
    "[% opt.GATK_PATH %]/GenomeAnalysisTK.jar" \
    -T UnifiedGenotyper \
    -R "[% opt.GENOME %]" \
    -L "[% opt.OUTPUT_DIR %]/settings/slicing/[% design %].vcf" \
    --output_mode EMIT_ALL_SITES \
    -I "[% pair.value %]" \
    -o "[% dirs.${pair.key} %]/[% pair.key %]_[% design %].vcf"
[% END -%]
[% END %]

qsub -N wait_for_bamMetrics -o /dev/null -e /dev/null -sync y -hold_jid bamMetrics_report_[% opt.RUN_NAME %] -b y /bin/true

# do not touch done file; this job shares name/step with the master done file. it is touched by markDone.
success_no_done
