#!/bin/bash
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

cd [% opt.OUTPUT_DIR %]

if [ -s QCStats/*.bamMetrics.pdf -a \
	[% IF opt.EXONCALLCOV == 'yes' %] \
		[% FOREACH sample IN opt.SAMPLES  %] \
			-s Exoncov_v3/[% sample %].html -a \
		[% END %]
	[% END %]
	-s QCStats/*.bamMetrics.html ]; then
	touch logs/PostStats.done
fi

echo "Finished poststats	" `date` "	" `uname -n` >> [% opt.OUTPUT_DIR %]/logs/[% runName %].log
