#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME=PrepBam
export JOB_SET="[% sample %]"
export JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sample %]

if [ -s [% sample_bam  %] ]
then
    echo "Start ${JOB_NAME}	" `date` "	[% sample %]	" `uname -n` >> [% log_dir %]/[% sample %].log

    if [ ! -s [% sample_bai %] ]
    then
        [% INCLUDE Status.tt step="PREPBAM_INDEX" status="processing" %]
        [% opt.SAMBAMBA_PATH %]/sambamba index -t [% opt.MAPPING_THREADS %] [% sample_bam %] [% sample_bai %]
    fi

    if [ ! -s [% sample_flagstat %] ]
    then
        [% INCLUDE Status.tt step="PREPBAM_FLAGSTAT" status="processing" %]
        [% opt.SAMBAMBA_PATH %]/sambamba flagstat -t [% opt.MAPPING_THREADS %] [% sample_bam %] > [% sample_flagstat %]
    fi

    if [ -s [% sample_bai %] ] && [ -s [% sample_flagstat %] ]
    then
        header_contigs=$([% opt.SAMTOOLS_PATH %]/samtools view -H [% sample_bam %] | grep -P '^@SQ\t' | cut -f 2,3 | awk -F'[:\t]' '{ print $2, $4 }')
        read_contigs=$([% opt.SAMTOOLS_PATH %]/samtools idxstats [% sample_bam %] | grep -vP '^\*\t' | awk '{ print $1, $2 }')
        contig_diff=$(diff -u <(echo "$header_contigs") <(echo "$read_contigs"))

        if [ -n "$contig_diff" ]; then
            echo "ERROR: [% sample_bam %] header contigs do not match read contigs:" >&2
            echo "$contig_diff" >&2
            [% INCLUDE Status.tt step="" status="failed" %]
        else
            [% INCLUDE Status.tt step="" status="success" %]
        fi
    else
        echo "ERROR: [% sample_bai %] or [% sample_flagstat %] does not exist." >&2
        [% INCLUDE Status.tt step="" status="failed" %]
    fi

    echo "End ${JOB_NAME}	" `date` "	[% sample %]	" `uname -n` >> [% log_dir %]/[% sample %].log
else
    echo "ERROR: [% sample_bam %] does not exist." >&2
    [% INCLUDE Status.tt step="" status="failed" %]
fi
