#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME=PreStat
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sampleName %]

echo "Start PreStats	" `date` "	[% coreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

[% INCLUDE Status.tt step=coreName status="processing" %]

[% opt.FASTQC_PATH %]/fastqc [% input %] -o QCStats --noextract -t 1

[% INCLUDE Status.tt step=coreName status="finished" %]

touch logs/PreStats_[% sampleName %].done

echo "End PreStats	" `date` "	[% coreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log
