#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=PreStats
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.out %]

echo "Start	${JOB_NAME}	$(date)	[% core_name %]	$(uname -n)" >> [% dirs.log %]/[% sample_name %].log

[% INCLUDE Status.tt step=core_name status="processing" %]

[% opt.FASTQC_PATH %]/fastqc [% input_path %] -o [% dirs.qc %] --noextract -t 1

[% INCLUDE Status.tt step=core_name status="finished" %]

touch [% done_file %]

echo "End	${JOB_NAME}	$(date)	[% core_name %]	$(uname -n)" >> [% dirs.log %]/[% sample_name %].log
