#!/bin/sh
#
# Template used by Text::Template. See: http://search.cpan.org/~mjd/Text-Template-1.46/lib/Text/Template.pm
#

cd {$opt{OUTPUT_DIR}}/{$sampleName}

echo "Start PreStats	" `date` "	{$coreName}	" `uname -n` >> {$opt{OUTPUT_DIR}}/{$sampleName}/logs/{$sampleName}.log

{$opt{FASTQC_PATH}}/fastqc {$input} -o QCStats --noextract -t 1

touch logs/PreStats_{$sampleName}.done

echo "End PreStats	" `date` "	{$coreName}	" `uname -n` >> {$opt{OUTPUT_DIR}}/{$sampleName}/logs/{$sampleName}.log
