#!/bin/sh
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME=PreStat
export JOB_SET="[% runName %]"
export JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sampleName %]

echo "Start PreStats	" `date` "	[% scoreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

[% IF opt.REPORT_STATUS %]
	export JOB_STEP="[% sampleName %]"
	export JOB_STATUS=started
	[% opt.REPORT_STATUS %]
[% END %]

[% opt.FASTQC_PATH %]/fastqc [% input %] -o QCStats --noextract -t 1

[% IF opt.REPORT_STATUS %]
	export JOB_STEP="[% sampleName %]"
	export JOB_STATUS=finished
	[% opt.REPORT_STATUS %]
[% END %]

touch logs/PreStats_[% sampleName %].done

echo "End PreStats	" `date` "	[% scoreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log
