#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="PreStats" main_step=step log_name="${sample_name}.log" %]

cd "[% dirs.out %]"

# FastQC runs a thread per file, so no point parameterising here
[% opt.FASTQC_PATH %]/fastqc "[% input_path %]" -o "[% dirs.qc %]" --noextract -t 1

success
