#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

source [% opt.CLUSTER_PATH %]/settings.sh

[% FOREACH qsub IN qsubOut %]
    [% qsub %]
[% END %]
