#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Purple" main_step="" log_name="purple.log" %]

[%- baf_vcf = opt.GERMLINE_VCF_FILE.replace('\.vcf$', '_sliced.vcf') %]

echo "somatic_vcf [% opt.SOMVAR_VCF_FILE %] "
echo "structural_vcf [% opt.BPI_VCF_FILE %] "
echo "baf_vcf [% baf_vcf %] "

success