#!/bin/bash
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

. [% opt.CLUSTER_PATH %]/settings.sh

cd [% opt.OUTPUT_DIR %]/[% sample %]/tmp

echo "Start indel realignment	" `date` "	[% bam %] 	" `uname -n` >> [% logDir %]/[% sample %].log

if [ -f [% opt.OUTPUT_DIR %]/[% sample %]/mapping/[% bam %] ]; then
	java -Xmx[% opt.REALIGNMENT_MASTER_MEM %]G -Djava.io.tmpdir=[% opt.OUTPUT_DIR %]/[% sample %]/tmp -jar [% opt.QUEUE_PATH %]/Queue.jar -R [% opt.GENOME %] -S [% opt.REALIGNMENT_SCALA %] -jobQueue [% opt.REALIGNMENT_QUEUE %] \
		-nt [% opt.REALIGNMENT_THREADS %] -mem [% opt.REALIGNMENT_MEM %] -nsc [% opt.REALIGNMENT_SCATTER %] -mode [% opt.REALIGNMENT_MODE %] -jobNative "[% jobNative %]" [% knownIndelFiles %] \
		-run -I [% opt.OUTPUT_DIR %]/[% sample %]/mapping/[% bam %] -jobRunner GridEngine [% IF opt.QUEUE_RETRY == 'yes' %] -retry 1 [% END %]
else
	echo "ERROR: [% opt.OUTPUT_DIR %]/[% sample %]/mapping/[% bam %] does not exist.\" >&2
fi

