#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME=Realign
export JOB_SET="[% opt.RUN_NAME %]"
export JOB_START=$(date +%s)

[% INCLUDE Status.tt step=sample status="processing" %]
echo "Start ${JOB_NAME}	$(date)	[% sample_bam %]	$(uname -n)" >> [% dirs.log %]/[% sample %].log

source [% opt.CLUSTER_PATH %]/settings.sh
cd [% dirs.tmp %]

if [ -s "[% sample_bam_path %]" ]
then
    java -Xmx[% opt.REALIGNMENT_MASTER_MEM %]G \
         -Djava.io.tmpdir="[% dirs.tmp %]" \
         -jar "[% opt.QUEUE_PATH %]/Queue.jar" \
         -jobQueue [% opt.REALIGNMENT_QUEUE %] \
         -jobNative "[% job_native %]" \
         -jobRunner GridEngine \
         -S "[% opt.OUTPUT_DIR %]/QScripts/[% opt.REALIGNMENT_SCALA %]" \
         -R "[% opt.GENOME %]" \
         -I "[% sample_bam_path %]" \
         -nt [% opt.REALIGNMENT_THREADS %] \
         -mem [% opt.REALIGNMENT_MEM %] \
         -nsc [% opt.REALIGNMENT_SCATTER %] \
         [% known_files %] \
         -run
    [% INCLUDE Status.tt step=sample status="finished" %]
else
    [% INCLUDE Status.tt step=sample status="failed" %]
    fail "[% sample_bam_path %] does not exist."
fi

echo "End ${JOB_NAME}	$(date)	[% sample_bam %]	$(uname -n)" >> [% dirs.log %]/[% sample %].log
