#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="ReleaseLock" main_step="" log_name="ReleaseLock.log" %]

assert_not_empty "[% lock_file %]"

rm -f [% lock_file %]

success_no_done
