#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="SomaticFiltering" main_step=output_vcf log_name="merge.log" %]

cd "[% dirs.out %]"

[ -s "[% input_vcf %]" ] || failure "[% input_vcf %] not present"

java -Xmx[% opt.SOMVARMERGE_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
    -T SelectVariants \
    -R "[% opt.GENOME %]" \
    -L "[% opt.SOMVAR_TARGETS %]" \
    -V "[% input_vcf %]" \
    -o "[% output_vcf %]"

[ -s "[% output_vcf %]" ] || failure "[% output_vcf %] was not created by SelectVariants"

rm "[% input_vcf %]"*
success
