#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME=SomaticMerge
export JOB_SET="[% opt.RUN_NAME %]"
export JOB_START=$(date +%s)

[% INCLUDE Status.tt step="" status="processing" %]

cd "[% dirs.out %]"

echo "Start Merge	$(date)	[% opt.RUN_NAME %]	$(uname -n)" >> [% dirs.log %]/merge.log

java -Xmx[% opt.SOMVARMERGE_MEM %]G -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
    -T CombineVariants \
    -R [% opt.GENOME %] \
    -o [% out_vcf %] \
    --genotypemergeoption uniquify \
    [% inputs %]

if [ -s "[% out_vcf %]" ]
then
    [% INCLUDE Status.tt step="" status="success" %]
else
    [% INCLUDE Status.tt step="" status="failed" %]
    fail "[% out_vcf %] was not created by CombineVariants"
fi

echo "End Merge	$(date)	[% opt.RUN_NAME %]	$(uname -n)" >> [% dirs.log %]/merge.log
