#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="SomaticMerging" main_step=output_vcf log_name="merge.log" %]

cd "[% dirs.out %]"

java -Xmx[% opt.SOMVARMERGE_MEM %]G \
    -Djava.io.tmpdir=[% dirs.tmp %] \
    -jar "[% opt.GATK_PATH %]/GenomeAnalysisTK.jar" \
    -T CombineVariants \
    -R "[% opt.GENOME %]" \
    -o "[% output_vcf %]" \
    --genotypemergeoption uniquify \
    [%- FOREACH input_vcf IN input_vcfs.pairs() %]
    -V:[% input_vcf.key %] "[% input_vcf.value %]" \
    [%- END %]
    ;

[ -s "[% output_vcf %]" ] || failure "[% output_vcf %] was not created by CombineVariants"
success
