#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]
[% INCLUDE Logging.tt job_name="SortBam" main_step=sorted_bam_name log_name="${step}.log" %]

[% opt.SAMBAMBA_PATH %]/sambamba sort \
    --tmpdir=[% dirs.tmp %] \
    -m [% opt.MAPPING_MEM %]GB \
    -t [% opt.MAPPING_THREADS %] \
    -o "[% sorted_bam_path %]" \
    "[% bam_path %]"

[ -s "[% sorted_bam_path %]" ] || failure "[% sorted_bam_path %] is missing or empty."
success
