#!/bin/sh
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

export JOB_NAME=Sort
export JOB_SET="[% sampleName %]"
export JOB_START=$(date +%s)

cd [% opt.OUTPUT_DIR %]/[% sampleName %]/mapping

echo "Start sort	" `date` "	[% coreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

[% IF opt.REPORT_STATUS %]
	export JOB_STEP=
	export JOB_STATUS=started
	[% opt.REPORT_STATUS %]
[% END %]

[% opt.SAMBAMBA_PATH %]/sambamba sort --tmpdir=[% opt.OUTPUT_DIR %]/[% sampleName %]/tmp/ -m [% opt.MAPPING_MEM %]GB -t [% opt.MAPPING_THREADS %] -o [% coreName %]_sorted.bam  [% coreName %].bam


[% IF opt.REPORT_STATUS %]
	export JOB_STEP=
	export JOB_STATUS=finished
	[% opt.REPORT_STATUS %]
[% END %]

echo "End sort	" `date` "	[% coreName %]	" `uname -n` >> [% opt.OUTPUT_DIR %]/[% sampleName %]/logs/[% sampleName %].log

