#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="SortBam" main_step=sorted_bam_name log_name="${step}.log" %]

assert_not_empty "[% bam_path %]"

[% opt.SAMBAMBA_PATH %]/sambamba sort \
    --tmpdir=[% dirs.tmp %] \
    -m [% opt.MAPPING_MEM %]GB \
    -t [% opt.MAPPING_THREADS %] \
    -o "[% sorted_bam_path %]" \
    "[% bam_path %]"

assert_not_empty "[% sorted_bam_path %]"
success
