#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Strelka" main_step=joint_name log_name="Somatic_$joint_name" %]

assert_not_empty "[% ref_bam_path %]" "[% tumor_bam_path %]"

rm -rf "[% dirs.strelka.out %]"
[% opt.STRELKA_PATH %]/bin/configureStrelkaWorkflow.pl \
    --tumor "[% tumor_bam_path %]" \
    --normal "[% ref_bam_path %]" \
    --ref "[% opt.GENOME %]" \
    --config "[% opt.OUTPUT_DIR %]/settings/strelka/[% opt.STRELKA_INI %]" \
    --output-dir "[% dirs.strelka.out %]"

cd "[% dirs.strelka.out %]"
make -j [% opt.STRELKA_THREADS %]

assert_exists "[% dirs.strelka.out %]/task.complete"
assert_not_empty "results/passed.somatic.snvs.vcf" "results/passed.somatic.indels.vcf"

java -Xmx[% opt.STRELKA_MEM %]G \
    -jar "[% opt.GATK_PATH %]/GenomeAnalysisTK.jar" \
    -T CombineVariants \
    -R "[% opt.GENOME %]" \
    --genotypemergeoption unsorted \
    -V:snvs "results/passed.somatic.snvs.vcf" \
    -V:indels "results/passed.somatic.indels.vcf" \
    -o "[% final_vcf %]"

assert_not_empty "[% final_vcf %]"

java -jar "[% opt.STRELKA_POST_PROCESS_PATH %]/strelka-post-process.jar" \
    -v "[% final_vcf %]" \
    -hc_bed "[% opt.HIGH_CONFIDENCE_BED %]" \
    -t "[% tumor_sample %]" \
    -o "[% final_vcf %].tmp"


mv "[% final_vcf %].tmp" "[% final_vcf %]"
rm -r chromosomes/
success