#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="Strelka" main_step=joint_name log_name="Somatic_${joint_name}.log" %]

assert_not_empty "[% ref_bam_path %]" "[% tumor_bam_path %]"

snvs_all_vcf="results/all.somatic.snvs.vcf"
indels_all_vcf="results/all.somatic.indels.vcf"

echo "[INFO] Running Strelka for [% joint_name %] - $(date)"

rm -rf "[% dirs.strelka.out %]"
[% opt.STRELKA_PATH %]/bin/configureStrelkaWorkflow.pl \
    --tumor "[% tumor_bam_path %]" \
    --normal "[% ref_bam_path %]" \
    --ref "[% opt.REF_GENOME %]" \
    --config "[% opt.OUTPUT_DIR %]/settings/strelka/[% opt.STRELKA_INI %]" \
    --output-dir "[% dirs.strelka.out %]"

cd "[% dirs.strelka.out %]"
make -j [% opt.STRELKA_THREADS %]

assert_exists "[% dirs.strelka.out %]/task.complete"
assert_not_empty "${snvs_all_vcf}" "${indels_all_vcf}"

rm -r chromosomes

success
