#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Varscan
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.varscan.out %]

if \
   [%- FOREACH snp_vcf IN snp_vcfs %]
   [ -s "[% snp_vcf %]" ] && \
   [%- END %]
   [%- FOREACH indel_vcf IN indel_vcfs %]
   [ -s "[% indel_vcf %]" ] && \
   [%- END %]
   true
then
    echo "Start	concat and postprocess Varscan	$(date)	[% joint_name %]	$(uname -n)" >> "[% dirs.log %]/varscan.log"

    [% INCLUDE Status.tt step="processSomatic" status="processing" %]

    [% opt.VCFTOOLS_PATH %]/vcf-concat [% snp_vcfs.join(' ') %] > "[% joint_name %].snp.vcf"
    [% opt.VCFTOOLS_PATH %]/vcf-concat [% indel_vcfs.join(' ') %] > "[% joint_name %].indel.vcf"

    java -Xmx[% opt.VARSCAN_MEM %]G -jar [% opt.VARSCAN_PATH %] processSomatic "[% joint_name %].indel.vcf" [% opt.VARSCAN_POSTSETTINGS %]
    java -Xmx[% opt.VARSCAN_MEM %]G -jar [% opt.VARSCAN_PATH %] processSomatic "[% joint_name %].snp.vcf" [% opt.VARSCAN_POSTSETTINGS %]

    java -Xmx[% opt.VARSCAN_MEM %]G \
        -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
        -T CombineVariants \
        -R "[% opt.GENOME %]" \
        --genotypemergeoption unsorted \
        -o "[% final_vcf %]" \
        -V "[% joint_name %].snp.Somatic.hc.vcf" \
        -V "[% joint_name %].indel.Somatic.hc.vcf"

    # to resolve merge conflict with FB vcfs
    sed -i 's/SSC/VS_SSC/' "[% final_vcf %]"

    if [ -s "[% final_vcf %]" ]
    then
        rm [% snp_vcfs.join(' ') %] [% indel_vcfs.join(' ') %]

        touch "[% done_file %]"
        [% INCLUDE Status.tt step="processSomatic" status="success" %]
    else
        [% INCLUDE Status.tt step="processSomatic" status="failed" %]
        fail "VarScan VCFs not present"
    fi
    echo "End	concat and postprocess Varscan	$(date)	[% joint_name %]	$(uname -n)" >> "[% dirs.log %]/varscan.log"
else
    [% INCLUDE Status.tt step="processSomatic" status="failed" %]
    fail "An input VCF does not exist."
fi
