#!/usr/bin/env bash
# -*- TT -*-
#
# Template used by the Template Toolkit. See: http://template-toolkit.org/
#

[% INCLUDE ErrorHandling.tt mode=opt.JOB_ERROR_MODE %]

export JOB_NAME JOB_SET JOB_START
JOB_NAME=Varscan
JOB_SET="[% opt.RUN_NAME %]"
JOB_START=$(date +%s)

cd [% dirs.varscan.out %]

if [ -s "[% ref_sample_bam %]" ] && \
   [ -s "[% tumor_sample_bam %]" ] && \
   [%- FOREACH snp_vcf IN snp_vcfs %]
   [ -s "[% snp_vcf %]" ] && \
   [%- END %]
   [%- FOREACH indel_vcf IN indel_vcfs %]
   [ -s "[% indel_vcf %]" ] && \
   [%- END %]
   true
then
    echo "Start concat and postprocess Varscan   $(date)    [% ref_sample_pileup %]    [% tumor_sample_pileup %]  $(uname -n)" >> [% dirs.log %]/varscan.log

    [% INCLUDE Status.tt step="processSomatic" status="processing" %]

    [% opt.VCFTOOLS_PATH %]/vcf-concat [% snp_vcfs.join(' ') %] > "[% somatic_name %].snp.vcf"
    [% opt.VCFTOOLS_PATH %]/vcf-concat [% indel_vcfs.join(' ') %] > "[% somatic_name %].indel.vcf"

    java -Xmx[% opt.VARSCAN_MEM %]G -jar [% opt.VARSCAN_PATH %] processSomatic [% somatic_name %].indel.vcf [% opt.VARSCAN_POSTSETTINGS %]
    java -Xmx[% opt.VARSCAN_MEM %]G -jar [% opt.VARSCAN_PATH %] processSomatic [% somatic_name %].snp.vcf [% opt.VARSCAN_POSTSETTINGS %]

    java -Xmx[% opt.VARSCAN_MEM %]G \
        -jar [% opt.GATK_PATH %]/GenomeAnalysisTK.jar \
        -T CombineVariants \
        -R [% opt.GENOME %] \
        --genotypemergeoption unsorted \
        -o [% somatic_name %].merged.Somatic.hc.vcf \
        -V [% somatic_name %].snp.Somatic.hc.vcf \
        -V [% somatic_name %].indel.Somatic.hc.vcf

    # to resolve merge conflict with FB vcfs
    sed -i 's/SSC/VS_SSC/' [% somatic_name %].merged.Somatic.hc.vcf

    if [ -s [% somatic_name %].merged.Somatic.hc.vcf ]
    then
        rm [% snp_vcfs.join(' ') %] [% indel_vcfs.join(' ') %]
        touch [% dirs.log %]/varscan.done
        [% INCLUDE Status.tt step="processSomatic" status="success" %]
    else
        [% INCLUDE Status.tt step="processSomatic" status="failed" %]
        fail "VarScan VCFs not present"
    fi
    echo "End concat and postprocess Varscan   $(date)    [% ref_sample_pileup %]    [% tumor_sample_pileup %]  $(uname -n)" >> [% dirs.log %]/varscan.log
else
    [% INCLUDE Status.tt step="processSomatic" status="failed" %]
    fail "[% tumor_sample_pileup %] or [% ref_sample_pileup %] does not exist."
fi
