#!/usr/bin/env bash
# -*- TT -*-

[% INCLUDE ErrorHandling.tt %]
[% INCLUDE Logging.tt job_name="VarscanPostProcess" main_step=joint_name log_name="varscan.log" %]

cd "[% dirs.varscan.out %]"

assert_not_empty "[% snp_vcf %]" "[% indel_vcf %]"

java -Xmx[% opt.VARSCAN_MEM %]G \
    -jar "[% opt.GATK_PATH %]/GenomeAnalysisTK.jar" \
    -T CombineVariants \
    -R "[% opt.GENOME %]" \
    --genotypemergeoption unsorted \
    -V:snp "[% snp_vcf %]" \
    -V:indel "[% indel_vcf %]" \
    -o "[% final_vcf %]"

assert_not_empty "[% final_vcf %]"

# to resolve merge conflict with FB vcfs
sed -i 's/SSC/VS_SSC/' "[% final_vcf %]"
success
